.checkbox {
  display: flex;

  font-size: 12px;

  line-height: 1.16;

  letter-spacing: 0.03em;

  justify-content: center;
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--other-text-color);

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
  }
}

.check {
  padding-left: 1.4em;
}

.check-box {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  background-image: url(../svg/images-svg/checkbox-vector.svg);
  margin-left: -1.8em;
  margin-top: -2px;
  cursor: pointer;
  transition: background-image var(--animation);

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-top: 3px;
  }
}

.check-span {
  text-decoration-line: underline;
  color: var(--brend-color);
  cursor: pointer;
}
.checkbox > input {
  width: 16px;
  height: 15px;
  margin: 0;
  margin-right: 8.38px;
  cursor: pointer;
}
