.footer {
  background-color: #2f303a;
  color: var(--main-color);
  padding-top: 60px;
  padding-bottom: 62px;
}
.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  fill: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    text-align: inherit;
  }
}
.footer input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--main-color);
  padding-left: 16px;
  outline: none;
  width: 100%;

  @media screen and (min-width: 480px) {
    height: 50px;
  }
}
.footer-social-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    text-align: left;
  }
}
.footer-item {
  margin-bottom: 9px;
  margin-top: 9px;
}
.footer-item-address > a {
  color: var(--main-color);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--brend-color);
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    flex-direction: inherit;
  }
}
.footer-email-subscribe {
  margin-top: 60px;
  width: auto;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-left: 93px;
    width: 50%;
    margin-top: 0;
  }
}
.footer-item > a {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);

  &:hover {
    color: var(--brend-color);
  }
  &:focus {
    color: var(--brend-color);
  }
}
.footer-social-icons {
  margin: 60px 0 0 0;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin-left: 165px;

    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-left: 70px;
    margin-top: 0;
  }
}

.social-footer-icons-item + .social-footer-icons-item {
  margin-left: 10px;
}
